#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.counter-box {
	border: 5px solid transparent; 
	border-color: #22b14c;
	padding: 10px;
}
button{
	margin: 10px;
}
.add{
	background-image: linear-gradient(to top, #4875d0, #96aee2);
}

.reset{
	background-image: linear-gradient(to top, #58a423, #b3d39f);
}

.sub{
	background-image: linear-gradient(to top, #262b2b, #575b5e);
}